/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {background: black;}

.color-2 {background: white;}

.color-3 {background: lightcyan;}
/* Textures or Patterns*/
.pattern-1 { background-image:url("../img/zoom2.jpg");
.pattern-2 { background-image:url("../img/bluebrains5.jpg");
/* Imagery */
.imagery-1 {
    background-image: url("../img/zoom2.jpg");
.imagery-2 {
/* Icons */


/* Typography */
h1{font-family: 'Ubuntu', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:center;
    font-size:3em;
    display: inline-block;
    background-color:black;
    padding: 8px;}
    
    p 
{
    font-family: 'Ubuntu', sans-serif;
    color: white;
  float: right;
    color:white;
  letter-spacing: 3px;
    text-align: left;
  background:black;
  padding: 50px; /* 10px / 560px = 0.01785714285714 */
  margin: 100px 50px; /* 10px / 1000px = .01 */
  width: 30%; /* 560px / 1000px = .56 */
    height: 200px;
}

    h2,h3 {font-family: 'Ubuntu', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align:center;
        background-color:black;}
/* Forms */
input {
    float: right ;
    align: top;
    border: 5px solid black;
  display:inline-block; 
    background-color: white;
}

#textarea {
    float: right;
    border: 30px solid black;
    margin-bottom: 100px;
    
}
li  {
  float: left;
  list-style: none;
    background-color:black;
    color:white;
        padding: 5px;
    align-content:top;
}



ul {
  float: left;
  list-style: none;
    background-color:black;
    color:white;
        
    align-content:top;
}

a:link {
    
   color: white;
  border: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 3em;
  height: 50px;
  width: 100px;
    background: black;

}

a:hover {
  border-radius: 10px;
  
  color: darkred;
  transition: all .5s;
  background: -webkit: 
/* Tables */
<h2>Table</h2>
			<table>
				<tr>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
				</tr>				
				<tr>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
				</tr>
				<tr>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
				</tr>
				<tr>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
					<td><img src="../img/BlobThing.jpg"></td>
				</tr>								
			</table>

		</section> 

/* Cards */