body {
  background-color:purple;
}

img {
  width: 600px;
}

h1{color: lightgreen;
  font-size:7em;
text-align:center;}

p{color: lightgreen;
  font-size:1em;
text-align:center;}

h1 {
  font-size:12em;
  animation: jello .5s infinite;
}